@media (max-width: 900px) {
    main {
        display: block;
    }
    #details-section {
        height: inherit;
    }
    #results-container h2 {
        margin: 0;
    }
    #search-section {
        border-radius: 0 0 1em 1em;
    }
    #search-section.show-details {
        padding: 8px 12px 8px;
    }
}
@media (max-width: 640px) {
    #details-section {
        width: 100vw;
        border-radius: 0;
    }
    #search-section {
        min-width: 0;
        max-width: 93vw;
    }
}