:root {
    --rojo: #DCF763;
    --onyx: #373E40;
    // off onyx colors
    --search-color: #2C3031;
    --details-color: #232626;
    --video-color: #111112;

    --cadet-gray: #A2AEBB;
    --platinum: #DFE0E2;
}